
.icon-menu:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */